#questionarea {
    text-align: center;
    font-size: 250%;
    padding: 500px 0 0 0;
}

#inputarea {
    text-align: center;
}

#inputarea>input {
    font-size: 200%;
}

#score {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding-top: 5%;
}