#questionarea {
    text-align: center;
    font-size: 250%;
    padding: 10vh 0 0 0;
}

#inputarea {
    text-align: center;
}

#inputarea>input {
    font-size: 200%;
}

#submit:hover{
	font-size: 250%
}

#score {
    text-align: center;
    font-size: 190%;
    font-weight: bold;
    float: right;
    padding-right: 48%;
    padding-top: 7px;
}

#scoretext{
	font-size: 200%;
    font-weight: bold;
    text-align: center;
    float: left;
    padding-left: 45%;

}

img {
	width: 4%;
    margin: 0 auto;
}

header {
 	font-size: 27%;
    text-align: center;
}

#footer {
	text-align: center;
	background-color: black;
	color: white;
}	

body {
	display: grid;
    min-height: 100vh;
    margin: 0;
    align-items: end;
}

label {
	display: none
}